/* Variables
/* ---------------------------------------------------------- */

:root {

    /* Colours */
    --color-primary: #3EB0EF;
    --color-primary-darker: #139de7;
    --color-base: #15212A;
    --color-border: #E5EFF5;
    --color-bg: #F2F4F7;
    --color-success: #A4D037;
    --color-error: #F05230;

    /* Fonts */
    --font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-serif: Georgia, Times, serif;
    --font-mono: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    --font-light: 100;
    --font-normal: 400;
    --font-bold: 600;
    --font-heavy: 800;

    /* Breakpoints */
    --xlarge: 1680px;
    --large: 1280px;
    --medium: 980px;
    --small: 740px;
    --xsmall: 480px;

    /* Sizes */
    --height: 4rem;
    --margin: 2rem;
    --radius: 0.4rem;

}

