@import "./styles/screen.css";

/* Content viewport, contains everything else */
.gh-viewport {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #F2F4F7;
}

.gh-main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.gh-page {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.gh-container {
    width: 100%;
    margin: 0 auto;
    max-width: 1220px;
}

.gh-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 12vmin;
}

.gh-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw 0 3vw;
}

.gh-status {
    max-width: 50px;
    height: auto;
    margin-bottom: 35px;
}

.gh-logo {
    max-height: 37px;
    width: auto;
    margin-right: 24px;
}

.gh-box {
    max-width: 420px;
    width: 100%;
    padding: 27px 24px;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.03), 0px 1px 6px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
}

.gh-box > h2 {
    font-weight: 600;
    font-size: 1.9rem;
    line-height: 1.2em;
    letter-spacing: 0.015em;
    margin: 0 0 15px;
}

.gh-box > p {
    font-size: 1.4rem;
    line-height: 1.5em;
    letter-spacing: 0.025em;
    color: #738A94;
    margin: .3em 0 15px;
}

.gh-box > code {
    max-height: 80px;
    overflow: hidden;
    font-family: var(--font-mono);
    word-wrap: anywhere;
    padding: 10px;
    background: #F8FAFC;
    border: 1px solid #E5EFF5;
    border-radius: 5px;
    font-size: 1.3rem;
    line-height: 1.5em;
    letter-spacing: 0.025em;
    color: #9BAEB8;
    margin-bottom: 20px;
}

.gh-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-height: 3.3rem;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.gh-footer svg {
    height: 3.3rem;
    width: auto;
}

.gh-footer .gh-button.gh-button-white {
    height: 3.3rem;
    line-height: 3.3rem;
}

/* Loading state */
.gh-loading-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    justify-content: center;
    left: 0;
    padding-top: 8vmin;
}

.gh-loading-spinner {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin: -2px 0;
    width: 50px;
    height: 50px;
    border: rgba(0,0,0,0.1) solid 1px;
    border-radius: 100px;
    animation: spin 1s linear infinite;
}

.gh-loading-spinner:before {
    content: "";
    display: block;
    margin-top: 7px;
    width: 7px;
    height: 7px;
    background: #4C5156;
    border-radius: 100px;
    z-index: 10;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
